.div1 {
  background-color: #FFFF00;
  width: 450px;
  height: 125px;
}
.div2{
  background-color: red;
  width: 180px;
  height: 100px;
  margin: 10px;
}
.div3{
  background-color: blue;
  color: #FFFFFF;
  width: 60%;
  height: 200px;
}
.div4{
  width: 30%;
  background-color: #888888;
  height: 150px;
}
.div5{
  height: 100px;
  background-color: #F26712;
  padding: 15px
}
