body {
  background-color: #33e7ff
}

#institut {
  width: 12.5%
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1em;
  color: #005a66
}

.p::first-letter {
  float: left;
  font-size: 300%;
  font-style: normal;
}

.p {
  background-color: #00b4cc;
  border-style: dashed;
  float: left;
  width: 12em;
  height: 12em;
  margin: 10px;
  color: #005a66;
  padding: 5px;
  font-style: italic;
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

#footer {
  width: 100%;
}

#pfooter {
  width: 800px;
  text-align: center;
}

.imagen {
  width: 10%;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  float: left;
}
